/*https://codepen.io/tpalmer75/pen/zrbyH*/
/*Esse CSS é responsavel pela estilização do botão de selecionar
 a imagem para ser carregada*/
.file-input-wrapper {
    display: inline-block;
    overflow-y: hidden;
}
    .file-input-button {
      color: white;
      box-sizing: border-box;
      font-family: sans-serif;
      /*width: 200px;*/
      height: 40px;
      display: inline;
      display: inline-block;
      font-size: 15px;
      font-weight: 400;
      margin-top: 20px;
      padding-top: 9px;
      text-align: center;
      transition: color 500ms, background-color 500ms;
      -moz-transition: color 500ms, background-color 500ms;
      -webkit-transition: color 500ms, background-color 500ms;
      -o-transition: color 500ms, background-color 500ms;
      -ie-transition: color 500ms, background-color 500ms;
    }
    .file-input-button:hover{
        color: #000000;
        background: rgba(68, 68, 68, 0.2);
        text-decoration: none;
    }
    .ocultaUpload{
        display: none;
    }


  /* http://jsfiddle.net/LvsYc/3275/
    Exemplo utilizado para fazer o preview da imagem selecionada
  */