.tamanhoFotoTabela{
    width: 220px;
    padding: 0px;
    margin: 0px;
}
.tamanho-coluna-nome{
    width: 250px !important;
}
.tamanhoColunaId{
    width: 20px;
}
.container-tabela{
    margin: 25px;
}
.tamanho-td-veiculo{
    white-space: normal;
    width: 250px;
    padding: 0px;
    margin: 0px;
}
.tamanho-td-contato{
    white-space: normal;
    width: 100px;
    padding: 0px;
    margin: 0px;
}
.tamanho-td-acoes{
    white-space: nowrap;
}
.tamanho-td-ap{
    white-space: normal;
    width: 75px;
    padding: 0px;
    margin: 0px;
}
td>table>tr>td{
    margin: 0px !important;
    padding: 0px !important;
}
.tamanho-table-ap{
    white-space: normal;
    width: 60px;
    padding: 0px;
    margin: 0px;
}
.table td .tamanho-table-ap{
    white-space: normal;
    width: 60px;
    padding: 0px;
    margin: 0px;
}
.tamanho-tabela{
    width: 100%;
}
.tamanho-td-acesso{
    width: 75px;
}

.tamanho-fonte-tabela{
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}