<template> 
  <q-layout view="lHh Lpr lFf" class="shadow-2 rounded-borders">    
    <Header/>
    <q-page-container>
      <router-view/>
    </q-page-container>
    <Footer/>
  </q-layout>
</template>

<script>
  import Header from '@/components/Header'
  import Footer from '@/components/Footer'
  
export default {
  name: 'LayoutDefault',

  components: {
    Header,
    Footer,
  },

  data () {
    return {
      
    }
  },
  watch: {
      $route (to) {
        document.title = to.meta.title || 'Meu site'
      }
  },


}
</script>

<style>
  .corpo{
    padding: 20px;
  }
  .q-input{
    margin-bottom: 5px;   
  }
  .botoes{
      display: flex;
      align-items: center;
      justify-content:space-between;
  }
</style>
