<template>
  <div class="corpo">
     <div class="botoes">
            <BotaoVoltar/>
            <BotoesAdd apartamentos="apartamentos" @adicionar="add=true" />
      </div>
    <ModalApartamento v-if="add" @close="fechar"/>    
    <PainelApartamento :key="key"/>      
  </div> 
</template>

<script>
import PainelApartamento from '@/components/PainelApartamento'
import BotoesAdd from '@/components/BotoesAdd'
import ModalApartamento from '@/components/ModalApartamento'
import BotaoVoltar from '@/components/BotaoVoltar'

export default {    
    components:{
        PainelApartamento,
        BotoesAdd,
        ModalApartamento,
        BotaoVoltar,
    },
    data(){
        return{
            add: false,
            key: 0,                   
        }
    },
    methods:{       
        fechar(){
          this.key++
          this.add = false;
        },
    },

}
</script>

<style scoped>
  .erro{
    color: red;
  }

</style>