<template>
  <q-page class="q-pa-md">
    <div class="login"  @keyup.enter="logar(usuario,senha)">   
      <h5>Login</h5>   
      <q-input id="usuario" filled type="text" v-model="usuario" label="Usuário"/>    
      <q-input v-model="senha" filled :type="isPwd ? 'password' : 'text'" label="Senha">
          <template v-slot:append>
            <q-icon
              :name="isPwd ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="isPwd = !isPwd"
            />
          </template>
      </q-input>
      <br>   
      <q-btn @click="logar(usuario, senha)">Entrar</q-btn>
      <div class="erro" v-if="erro != ''">{{erro}}</div>
  </div>
 </q-page> 
</template>

<script>
import Cookies from '@/components/Cookies'
import { post } from '../components/Conexao'

export default {
  name: 'login',
  components: {    
  },
  data(){
    return{
      isPwd: true,
      usuario: '',
      senha: '',
      erro: '',
    }    
  },
  methods:{
      logar(usuario,senha){
        var objeto = {usuario,senha}
        post("auth/login", objeto).then((res) => {
        var token = JSON.parse(res);       
        //----------------
        Cookies.setCookie("token",token.token_acesso,30);
        Cookies.setCookie("usuario_id",token.CodUsuario,30);        
        //Store.commit('logar');        
        this.erro = '';
        //if(token.e_adm){
         // Store.commit('administrar');
          this.$router.push('/principal');          
        //}else{
         
        //}                
        }).catch((e)=>this.erro = e);
      },
  }, 
}
</script>

<style scoped>
  .login{
      display: flex;
      align-items: center;
      flex-direction: column;  
    } 
    .erro{
      color: red;
      border: 1px;
    }
    .q-input{    
      width: 20%;
      height: 10%;
    }
    .q-btn{
      margin: 10px;
    }
    .q-input{
      margin-bottom: 10px;
    }
</style>