<template>
    <div class="corpo">
        <div class="botoes">
            <BotaoVoltar class="left"/>
            <BotoesAdd :pessoas="true" @adicionar="add=true" class="center"/>         
        </div>
        <PainelPessoa :key="key" />
        <ModalPessoa v-if="add" @close="fechar"/>     
  </div>
</template>

<script>
import PainelPessoa from '@/components/PainelPessoa'
import BotoesAdd from '@/components/BotoesAdd'
import ModalPessoa from '@/components/ModalPessoa'
import BotaoVoltar from '@/components/BotaoVoltar'

export default {
    components:{      
        PainelPessoa,
        BotoesAdd,        
        ModalPessoa,
        BotaoVoltar,
    },
    methods:{ 
        fechar(){
            this.key++
            this.add=false
        }, 
    },
    data(){
        return{
            add: false,
            key: 0,            
        }
    },
    
}
</script>
<style scoped>

</style>

