<template>
  <div class="principal">
     <div class="lateral">
        <Botoes :pessoas="true" :veiculos="true" :apartamentos="true"/>        
     </div>
     <PainelPessoa/>
  </div>
</template>

<script>
import Botoes from '@/components/Botoes'
import PainelPessoa from '@/components/PainelPessoa'

export default {
    components:{
        Botoes,       
        PainelPessoa,
    },
    data(){
        return{
           
        }
    }

}
</script>

<style scoped>
    .principal{
        display: flex;
        flex-direction: column;     
        justify-content: center;
        align-items: center;
        padding: 20px;        
    }
    .lateral{
        display: flex;
    }  

</style>>

