<template>
    <div class="corpo">
      <ModalVeiculo v-if="add" @close="fechar"/> 
           <div class="botoes">
            <BotaoVoltar/>
            <BotoesAdd :veiculos="true" @adicionar="add=true"/> 
      </div>   
      <PainelVeiculo :key="key"/>           
  </div>  
</template>

<script>
import PainelVeiculo from '@/components/PainelVeiculo'
import BotoesAdd from '@/components/BotoesAdd'
import ModalVeiculo from '@/components/ModalVeiculo'
import BotaoVoltar from '@/components/BotaoVoltar'

export default {
    components:{
        PainelVeiculo,
        BotoesAdd,
        ModalVeiculo,
        BotaoVoltar,
    },
    data(){
        return{
            placa: '',
            cor: '',
            modelo: '',
            add: false,
            erro: '',
            key: 0,
        }
    },
    methods:{
      fechar(){
        this.add = false
        this.key++
      },
    },    
}
</script>

<style>

</style>