<template>
    <span class="acoes">
        <q-icon  name="visibility" size="sm" @click="$emit('visualizar')"><q-tooltip>Visualizar</q-tooltip></q-icon>
        <q-icon  name="edit" size="sm" @click="$emit('editar')"><q-tooltip>Editar</q-tooltip></q-icon>   
        <q-icon color="red" name="delete_forever" size="sm" @click="$emit('desativar')"><q-tooltip>Desativar</q-tooltip></q-icon>
    </span>
</template>

<script>
export default {

}
</script>

<style scoped>
    .acoes{
        align-items: center;
        justify-content: center;             
    }
</style>


