<template>
<div class="col-3">
  <q-btn color="primary" icon="navigate_before" @click="$router.push('/principal')">Voltar</q-btn>
</div>
</template>

<script>
export default {
    
    
}
</script>

<style scoped>
   
</style>