<template>
   <div class="botoesadd">
        <q-btn v-if="pessoas" class="botao" color="primary" icon="add" label="Nova Pessoa" @click="adicionar('pessoas')" />      
        <q-btn v-if="veiculos" class="botao" color="primary" icon="add" label="Novo Veículo" @click="adicionar('veiculos')" />
        <q-btn v-if="apartamentos" class="botao" color="primary" icon="add" label="Novo Apartamento" @click="adicionar('apartamentos')" />
      </div>
</template>

<script>
export default {
     props:{
        apartamentos: {
            type: Boolean,
            default: false
        },
        veiculos: {
            type: Boolean,
            default: false
        },
        pessoas: {
            type: Boolean,
            default: false
        },        
        },
        methods: {
            adicionar(oque){
                this.$emit('adicionar', oque);
            },
    }

}
</script>

<style scoped>
    .botoesadd{
        display: flex;
        align-content: center;
        padding: 10px;        
    }
    .botao{        
        padding: 10px;
        margin-left: 30px;     
    }
</style>