<template>
   <div class="botoesmain">
        <q-btn v-if="pessoas" class="botao" color="primary" icon="face" label="Pessoas" @click="vaipara('pessoas')" />      
        <q-btn v-if="veiculos" class="botao" color="primary" icon="fas fa-car" label="Veículos" @click="vaipara('veiculos')" />
        <q-btn v-if="apartamentos" class="botao" color="primary" icon="house" label="Apartamentos" @click="vaipara('apartamentos')" />
      </div>
</template>

<script>
export default {
     props:{
        apartamentos: {
            type: Boolean,
            default: false
        },
        veiculos: {
            type: Boolean,
            default: false
        },
        pessoas: {
            type: Boolean,
            default: false
        },        
        },
        methods: {
            vaipara(onde){
                this.$router.push('/' + onde);
            },
    }

}
</script>

<style scoped>
    .botoesmain{
        display: flex;
        align-content: center;
        padding: 10px;        
    }
    .botao{        
        padding: 10px;
        margin-left: 30px;     
    }
</style>