<template>   
  <q-header elevated>
    <q-toolbar class="glossy">      
      <q-avatar>
        <img class="logo" :src="logo" @click="$router.push('/principal')">
      </q-avatar>
      <q-toolbar-title>{{titulo}}</q-toolbar-title>          
    </q-toolbar>
  </q-header>  
</template>

<script>
export default {
  data(){
    return{
       logo: require("@/assets/img/FavIcon/128x128.png"),
       titulo: 'Cadastro de Moradores'       
    }
  },  
}
</script>

<style scoped>
  .logo{
    width: auto
  }
</style>>
