<template>
   <div>
     <Modal @close="cancelar" @ok="criar">
        <div slot="header" class="titulo">            
          <h4> <q-avatar icon="house" size="100px" />Adicionar Apartamento</h4>          
        </div>
        <div slot="body" class="row">
           <q-dialog v-model="dialogo">
                <q-card>
                    <q-card-section>
                        <div class="text-h6">{{mensagem}}</div>
                    </q-card-section>
                </q-card>
            </q-dialog>
          <q-input class="col-6" label="Número" filled v-model="apartamento.numero" mask="#########"/>
          <br>
          <q-input class="col-6" label="Bloco" filled v-model="apartamento.bloco" :mask="mask"/> 
        </div>
        <span slot="footer">            
          <p class="erro">{{erro}}</p>
        </span>
      </Modal> 
  </div>    
</template>

<script>
import Modal from '@/components/Modal'
import { post } from '@/components/Conexao'
import { get } from '@/components/Conexao'
import Apartamento from '../models/Apartamento'

export default {    
    components:{        
        Modal,        
    },
    props:{
      codAp:{
          type: Number,
          default: NaN
      },
      readonly:{
          type: Boolean,
          default: false
      },
  },
    data(){
        return{
            add: false,
            apartamentos: true, 
            apartamento:{},            
            erro: '',
            mensagem: '',
            //variavel para definir a quantidade e tipo de caracteres a serem usados nos inputs como Alfanuméricos e maiúsculos
            mask: 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX',
            dialogo: false,                  
        }
    },
    methods:{
        criar(){
            if(this.apartamento.numero==''){
              this.mensagem = "Número do apartamento inválido"
              return
            }
            if(this.apartamento.bloco==''){
              this.mensagem = "Número do bloco inválido"
              return
            }
            var apartamento = this.apartamento
            //Se o apartamento já existir, fará um update ao invés de criar um novo
            if(!isNaN(this.codAp)){
              post("apartamento/altera",apartamento).then((result) => {
                console.log(result)
              }).catch((err) => {
                console.log(err)
              });
              this.$emit('close');
              return             
            }
            post("apartamento",apartamento).then(this.mensagem = "Apartamento cadastrado com sucesso"
              // (res) =>{               
              //   this.add = false,
              //   this.erro = ''
              //   console.log(res)}
            ).catch((e)=>{
              this.mensagem=e
              return
            });
            this.$emit("close");
        },
        cancelar(){
          this.numero = '',
          this.bloco = '',
          this.add = false,
          this.erro = ''  
          this.add = false;
          this.$emit("close")
        },
        visualiza(){
          if(this.readonly){
              get("apartamento").then((result) => {
                for(var apartamento of JSON.parse(result)){
                    if(apartamento.codap==this.codAp){
                        this.apartamento.numero = apartamento.numero
                        this.apartamento.bloco = apartamento.bloco
                        return
                    }
              }                
            }).catch((err) => {
                this.erro=err;
            });
            }
            
        },
        edita(){
            if(!this.readonly){
                if(!isNaN(this.codAp)){
                    get("apartamento").then((result) => {               
                        for(var apartamento of JSON.parse(result)){
                    if(apartamento.codap==this.codAp){
                        this.apartamento.numero = apartamento.numero
                        this.apartamento.bloco = apartamento.bloco
                        this.apartamento.codap = apartamento.codap   
                        return                    
                    }
              }       
                    }).catch((err) => {
                        this.erro=err;
                    });
                }                
            }
        },
    },
     created(){
        this.apartamento = new Apartamento();
        this.visualiza()
        this.edita()
    },
    watch:{
       mensagem(){
           this.dialogo = true
       },
    },

}
</script>

<style scoped>
  .erro{
    color: red;
  }
   .titulo{
        display: flex;
        flex: 1;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .classe{
        z-index: 9999;
    }
    .row{
        padding: 5px;
    }    
</style>
