<template>
   <div>
     <Modal @close="cancelar" @ok="criar">
        <div slot="header" class="titulo">            
          <h4> <q-avatar icon="fas fa-car" size="100px" />Adicionar Veículo</h4>          
        </div>
        <div slot="body" class="row">
          <q-dialog v-model="dialogo">
                <q-card>
                    <q-card-section>
                        <div class="text-h6">{{mensagem}}</div>
                    </q-card-section>
                </q-card>
            </q-dialog>
          <q-input class="col-6" label="Modelo" filled v-model="veiculo.modelo" :readonly="readonly" />
          <br>
          <q-input class="col-6" label="Cor" filled v-model="veiculo.cor" :mask="mask"/> 
          <br>
          <q-input class="col-6 " label="Placa" filled v-model="veiculo.placa" mask="AAA-####"/>
        </div>
        <span slot="footer">            
          <p class="erro">{{erro}}</p>
        </span>
      </Modal>
  </div>    
</template>

<script>
import Modal from '@/components/Modal'
import {post} from '@/components/Conexao'
import {get} from '@/components/Conexao'
import Veiculo from '../models/Veiculo'

export default {
  name: 'ModalVeiculo',
  components:{
    Modal,
  },
   props:{
      codVeiculo:{
          type: Number,
          default: NaN
      },
      readonly:{
          type: Boolean,
          default: false
      },
  },
 data(){
        return{
            //variavel recebe temporariamente o valor de modelo que será convertido para UPPERCASE e alocado no objeto
            modelo:'',
            veiculo:{},
            add: false,
            erro: '',
            //variavel para definir a quantidade e tipo de caracteres a serem usados nos inputs como Alfanuméricos e maiúsculos
            mask: 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX',
            dialogo: false,
            mensagem: '',
        }
    },
    methods: {
        criar(){
             if(this.veiculo.modelo==''){
              this.mensagem = "Modelo inválido"
              return
            }
             if(this.veiculo.cor==''){
              this.mensagem = "Cor inválida"
              return
            }
            if(this.veiculo.placa==''){
              this.mensagem = "Placa inválida"
              return
            }
            this.veiculo.modelo = this.veiculo.modelo.toUpperCase()
            var veiculo = this.veiculo            
            if(!isNaN(this.codVeiculo)){            
       
              console.log(JSON.stringify(veiculo))
              post("veiculo/altera",veiculo).then((result) => {
                console.log(result)
              }).catch((err) => {
                console.log(err)
              });
            //   post("veiculo/altera",veiculo).then(result => this.mensagem = "Veículo Alterado com sucesso!"             
            // ).catch((e)=>{
            //   this.mensagem=e
            //   return
            // });
              this.$emit('close');
              return             
            }

            post("veiculo",veiculo).then(this.mensagem = "Veículo Cadastrado com sucesso!"
              // (res) =>{                
              //   this.add = false,
              //   this.erro = ''
              //   console.log(res)}
            ).catch((e)=>{
              this.mensagem=e
              return
            });
            this.$emit('close');
        },
        cancelar(){
          this.placa = '',
          this.cor = '',
          this.modelo = '',
          this.add = false,
          this.erro = '',
          this.$emit('close')          
        },
        visualiza(){
          if(this.readonly){
              get("veiculo").then((result) => {
                for(var veiculo of JSON.parse(result)){
                    if(veiculo.codveiculo==this.codVeiculo){
                        this.veiculo.placa = veiculo.placa
                        this.veiculo.cor = veiculo.cor
                        this.veiculo.modelo = veiculo.modelo
                        return
                    }
              }                
            }).catch((err) => {
                this.erro=err;
            });
            }
            
        },
        edita(){
            if(!this.readonly){
                if(!isNaN(this.codVeiculo)){
                    get("veiculo").then((result) => {               
                        for(var veiculo of JSON.parse(result)){
                    if(veiculo.codveiculo==this.codVeiculo){
                        this.veiculo.placa = veiculo.placa
                        this.veiculo.cor = veiculo.cor
                        this.veiculo.modelo = veiculo.modelo
                        this.veiculo.codveiculo = veiculo.codveiculo   
                        return                    
                    }
              }       
                    }).catch((err) => {
                        this.erro=err;
                    });
                }                
            }
        },
    },
    watch:{
       mensagem(){
         this.dialogo = true
       }
    },
    created(){
        this.veiculo = new Veiculo;
        this.visualiza();
        this.edita();
    }
}
</script>

<style scoped>
      .titulo{
        display: flex;
        flex: 1;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .classe{
        z-index: 9999;
    }
    .row{
        padding: 5px;
    }    
</style>

