<template>
   <div>
    <!-- <script type="text/x-template" id="modal-template"> -->
      <transition name="modal">
        <div class="modal-mask" @click="$emit('close')">
          <div class="modal-wrapper">
            <div class="modal-container" @click.stop @keyup.enter="$emit('ok')">              
              <div class="modal-header">
                <slot name="header">
                  default header
                </slot>
              </div>
              <div class="modal-body">
              <!-- <q-scroll-area
                :thumb-style="thumbStyle"
                :bar-style="barStyle"
                style="height:500px"
              > -->
                <slot name="body">
                  default body
                </slot>
              <!-- </q-scroll-area> -->
              </div>
              <div class="modal-footer">
                <span class="botoes">
                  <q-btn class="botao" icon="check" color="primary" @click="$emit('ok')" label="OK" />
                  <q-btn class="botao" icon="cancel" color="primary"  @click="$emit('close')" label="Cancelar" />                
                </span>
                <slot name="footer">                 
                  
                </slot>
              </div>
             
            </div>
          </div>
        </div>
      </transition>
    <!-- </script> -->
  </div>    
</template>

<script>
export default {
  name: 'Modal',
  data(){
    return{
       thumbStyle: {
        right: '4px',
        borderRadius: '5px',
        backgroundColor: '#027be3',
        width: '5px',
        opacity: 0.75
      },

      barStyle: {
        right: '2px',
        borderRadius: '9px',
        backgroundColor: '#027be3',
        width: '9px',
        opacity: 0.2
      }
    }
  }  

}
</script>

<style scoped>
  .modal-mask {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    transition: opacity .3s ease;
    align-items: center;
  }

  .modal-wrapper {
    display: flex;
    flex-direction: row;    
    width: 100%;
    height: 80%;
    vertical-align:middle;
    align-items: center;
    justify-content: center;
  }

  .modal-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    margin: 0px auto;
    padding: 0px 20px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
    justify-content: center;
    float: center;
  }
  h4{
    margin-top: 0px;
    margin-bottom: 0px;
    align-self: auto;
  }

  .modal-header {
    display: flex;
    float: center;
    margin-top: 0;
    justify-content: center;    
    justify-items: center;
    height: 15%;
  }

  .modal-body { 
    display: flex;    
    margin: 0px 0;
    height: fit-content;
    overflow: scroll;
    justify-content: center;
    justify-items: center;
  }  

  .modal-default-button {
    float: right;
  }
   .modal-footer { 
    display: flex;   
    justify-content:center;
    height: 15%;
  } 

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

  .modal-enter {
    opacity: 0;
  }

  .modal-leave-active {
    opacity: 0;
  }

  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .erro{    
    color: red;
  }
  .botoes{
        display: flex;
        align-content: flex-start;
        padding: 10px;        
  }
  .botao{        
        padding: 10px;
        margin-left: 30px;
        font-weight: bold;    
    }

</style>

