<template>
   <div>
     <Modal @close="cancelar" @ok="criar">
        <template slot="header">            
          <div class="titulo">
            <!-- Se não for, mostra o Título Normal   -->
              <h4 v-if="!readonly"> <q-icon name="face" size="40px" style="margin-bottom:9px" />Adicionar Pessoa</h4>
          </div>
        </template>
        <div slot="body" class="row">
          <q-dialog v-model="dialogo">
                <q-card>
                    <q-card-section>
                        <div class="text-h6">{{mensagem}}</div>
                    </q-card-section>
                </q-card>
            </q-dialog>
              <!-- Se for ReadOnly mostra o nome e foto da pessoa -->
            <div v-if="readonly" class="foto col-8" >
                <q-img :src="carregaFoto(foto)"/><br>
                <h4 >                           
                {{pessoa.nome}}
            </h4>                       
            </div>
          <q-input class="col-12" label="Nome" filled v-model="pessoa.nome" v-if="!readonly"/>          
          <q-input class="col-md-6 col-xs-12" label="Contato" filled v-model="pessoa.contato" mask="(##)#####-####" :readonly="readonly"/>
            <div class="col-12">           
                <div class="bg-grey-2 q-pa-sm rounded-borders">
                    Tipo de Acesso: 
                    <!-- Mostra texto se for ReadOnly -->
                    <span v-if="readonly">{{pessoa.tipo}}</span>
                    <!-- Mostra as opções se não for ReadOnly -->
                    <q-option-group v-if="!readonly"
                    name="tipo_acesso"
                    v-model="pessoa.tipo"
                    :options="tipos"
                    color="primary"
                    inline
                    />
                </div>
            </div>
            <div class="col-12">
                <q-input
                v-model="pessoa.observacao"
                filled
                type="textarea"
                label="Observações"
                :readonly="readonly"
                />
            </div>            
            <div class="col-md-1 col-xs-2 self-center" v-if="!readonly">          
                <q-btn icon="add" color="blue" size="md" fab-mini @click="addveiculo=true" /> 
            </div>
             <!-- Mostra a lista se for ReadOnly -->            
            <q-list class="col-6"  v-if="readonly" dense>
                Veículos: <input v-if="pessoa.pessoaxveiculo.length==0" readonly value="Não Cadastrado" style="border:none"/>
                <q-item  v-for="veiculo in pessoa.pessoaxveiculo" :key="veiculo.id" dense>{{veiculo.veiculo.placa}}
                </q-item>
            </q-list>
            
                 <!-- Mostra as opções se não for ReadOnly -->
            <div class="col-md-5 col-xs-10"   v-if="!readonly">
                <q-select
                    :key="key"                 
                    filled                          
                    multiple
                    clearable
                    v-model="pessoa.veiculo"
                    :options="listaveiculos"
                    option-value="codveiculo"
                    option-label="placa"
                    map-options=""
                    use-chips                   
                    label="Veículos"
                    emit-value              
                    >                
                    <template v-slot:option="scope">
                        <q-item
                            v-bind="scope.itemProps"
                            v-on="scope.itemEvents"                       
                        >                       
                        <q-item-section>
                        <q-item-label v-html="scope.opt.modelo" />
                        <q-item-label caption>Placa: {{ scope.opt.placa }}, Cor: {{ scope.opt.cor }} </q-item-label>
                        </q-item-section>
                        </q-item>
                    </template>
                </q-select>         
            </div>
            <div class="col-md-1 col-xs-2 self-center" v-if="!readonly" >          
                <q-btn icon="add" color="blue" fab-mini @click="addapartamento=true" /> 
            </div>            
            <!-- Mostra a lista se for ReadOnly -->
           
            <q-list v-if="readonly" class="col-6" dense>
                    Apartamentos: <input v-if="pessoa.pessoaxapartamento.length==0" readonly value="Não Cadastrado" style="border:none"/>
                    <q-item v-for="apartamento in pessoa.pessoaxapartamento" :key="apartamento.id" dense>Nº: {{apartamento.apartamento.numero}}, Bloco: {{apartamento.apartamento.bloco}}
                    </q-item>
                </q-list>
          
            <!-- Mostra as opções se não for ReadOnly -->
            <div class="col-md-5 col-xs-10" v-if="!readonly"> 
                <q-select
                    :key="key"                 
                    filled                          
                    multiple
                    clearable
                    v-model="pessoa.apartamento"
                    :options="listaapartamentos"
                    option-value="codap"
                    option-label="numero"
                    map-options
                    use-chips
                    label="Apartamentos"
                    emit-value                                                                              
                    > 
                    <template v-slot:option="scope">
                            <q-item
                                v-bind="scope.itemProps"
                                v-on="scope.itemEvents"
                            >                       
                                <q-item-section>
                                <q-item-label v-html="scope.opt.numero" />
                                <q-item-label caption>Bloco: {{ scope.opt.bloco }} </q-item-label>
                                </q-item-section>
                            </q-item>
                    </template>
               </q-select>                     
            </div>
            <!-- Mostra o uploader se não for ReadOnly -->
             <q-uploader
                ref="uploader"
                label="Selecione uma Foto"
                accept=".jpg, image/*"
                style="max-width: 300px"
                @added="defineimage"
                v-if="!readonly"
            />
            <div class="col-6" v-if="!readonly && foto != null">
                Foto Antiga:
                <q-img :src="carregaFoto(this.pessoa.image)"/>
            </div>
        </div>
        <span slot="footer">            
          <p class="erro">{{erro}}</p>
        </span>        
      </Modal>
      <ModalVeiculo v-show="addveiculo" @close="fecharmodal" />
      <ModalApartamento v-show="addapartamento" @close="fecharmodal" />
  </div>    
</template>

<script>
import Modal from '@/components/Modal'
import ModalApartamento from '@/components/ModalApartamento'
import ModalVeiculo from '@/components/ModalVeiculo'
import { post } from '../components/Conexao'
import { get } from '../components/Conexao'
import Pessoa from '../models/Pessoa'

export default {
  name: 'ModalPessoa',
  components:{
    Modal,
    ModalApartamento,
    ModalVeiculo,
  },
  props:{
      codpessoa:{
          type: Number,
          default: NaN
      },
      readonly:{
          type: Boolean,
          default: false
      },
  },
  methods:{
        criar(){
            if(this.pessoa.nome==''){
              this.mensagem = "Nome Invalido!"
              return
            }
            if(this.pessoa.tipo==''){
              this.mensagem = "Tipo de Acesso Inválido!"
              return
            } 
            if(this.pessoa.apartamento.length == 0){
              this.mensagem = "Apartamento Inválido"
              return
            } 
            if(this.pessoa.image==''){
              this.mensagem = "Foto Inválida!"
              return
            }
            this.pessoa.nome = this.pessoa.nome.toUpperCase()                        
            var pessoa = this.pessoa;            
            post("pessoa",pessoa).then(this.mensagem = 'Pessoa Cadastrada com Sucesso!'         
                
            ).catch((e)=>{
                this.mensagem = e; 
                console.log(e)
                return
                });
            
            setTimeout(()=>
            {return this.$emit("close")},
            2000)           
        },
        cancelar(){          
          this.$emit("close"),
          this.addveiculo = false,           
          this.addapartamento = false           
        },
        fecharmodal(){          
          this.addveiculo = false,           
          this.addapartamento = false
          this.carregaVeiculos();
          this.carregaApartamentos();          
        },
        carregaVeiculos(){
            get("veiculo").then((result) => {
                this.listaveiculos = JSON.parse(result);                
                this.key++
            }).catch((err) => {
                console.log(err);
            });
        },
        carregaApartamentos(){
            get("apartamento").then((result) => {
                this.listaapartamentos = JSON.parse(result)
                this.key++
            }).catch((err) => {
                console.log(err);
            });
        },

        defineimage(){   
            /*Este método captura a src da imagem escolhida no uploader e define na variável image.
            Essa abordagem foi necessária para que o caminho da imagem possa ser passado tanto para o preview
            quanto para a API no momento da criação da nova pessoa. A ref do componente deve estar definida 
            corretamente
            */         
            this.pessoa.image = this.$refs.uploader.queuedFiles[0].__img.src
        },
        visualiza(){
            if(this.readonly){
                get("pessoaprop").then((result) => {               
                for(var pessoa of JSON.parse(result)){                    
                    if(pessoa.codpessoa==this.codpessoa){                        
                        this.pessoa = pessoa
                        this.nome = pessoa.nome                        
                        this.pessoa.veiculo = pessoa.pessoaxveiculo.veiculo
                        this.pessoa.apartamento=pessoa.pessoaxapartamento.apartamento
                        this.foto = pessoa.foto
                        return
                    }
                }                
            }).catch((err) => {
                this.erro=err;
            });
            }
            
        },
        edita(){
            if(!this.readonly){
                if(!isNaN(this.codpessoa)){
                    get("pessoaprop").then((result) => {               
                        for(var pessoa of JSON.parse(result)){                    
                            if(pessoa.codpessoa==this.codpessoa){
                                //variavel usada para mostrar a foto antiga na edição
                                this.pessoa.codpessoa = pessoa.codpessoa
                                this.foto = 'foto'                               
                                this.pessoa.image = pessoa.foto
                                this.pessoa.nome = pessoa.nome
                                this.pessoa.contato = pessoa.contato
                                this.pessoa.observacao = pessoa.observacao
                                this.pessoa.tipo = pessoa.cod_acesso
                                this.pessoa.veiculo=[]
                                for(var veiculo of pessoa.pessoaxveiculo){
                                    this.pessoa.veiculo.push(parseInt(veiculo.veiculo.codveiculo))
                                }
                                this.pessoa.apartamento=[]
                                for(var apartamento of pessoa.pessoaxapartamento){
                                    this.pessoa.apartamento.push(parseInt(apartamento.apartamento.codap))
                                }                                
                                this.key++;
                                                                
                                // this.$refs.uploader.list = this.carregaFoto(pessoa.foto)
                                return
                            }
                        }
                    }).catch((err) => {
                        this.erro=err;
                    });
                }                
            }
        },        
         carregaFoto(nome){
            return '..\\..\\img\\' + nome
         }
    },
    data(){
        return{
            addveiculo: false,
            addapartamento: false,            
            //variavel que recebe o nome que será convertido em UpperCase e transferido para o nome do objeto no watch()
            //nome: '',
            pessoa : {},            
            tipos:[
                {
                    label:'Morador(a)',
                    value: 1
                },
                {
                    label:'Visitante',
                    value: 2
                },
                                {
                    label:'Funcionário(a)',
                    value: 3
                },  
                {
                    label:'Prest. Serviço',
                    value: 4
                }
            ],
            foto: null,
            listaveiculos:[],
            listaapartamentos:[],            
            erro: '',
            key: 0,
            mensagem: '',
            dialogo: false,                                             
        }
    },
    computed:{
      
    },
    watch:{
       mensagem(){
           this.dialogo = true
       },
    //    key(){
    //     this.carregaVeiculos();
    //     this.carregaApartamentos();
    //    }
    //    nome(){
    //        this.pessoa.nome = this.nome.toUpperCase()
    //    },       
    },
    mounted(){        
        this.carregaVeiculos();
        this.carregaApartamentos();         
    },
    created(){
        this.pessoa = new Pessoa();
        this.visualiza();
        this.edita();            
    }



}
</script>

<style scoped>
    .titulo{
        display: flex;
        flex: 1;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .classe{
        z-index: 9999;
    }
    .row{
        padding: 5px;
    }
    .foto{
        justify-items: center;
        justify-content: center;
        float: center;
        align-items: center;
        
    }
    .foto q-img{
        width: 40%;
    }

</style>


 