<template>
  <div class="painel">
    <ModalVeiculo :readonly="readonly" :codVeiculo="codigo" v-if="mostrar" @close="close" @ok="close"/>
    <q-dialog v-model="confirmacao">
        <q-card>
            <q-card-section>
               <b> Veículo desativado com sucesso! </b>
            </q-card-section>
        </q-card>
    </q-dialog>
    <q-dialog v-model="desativa" persistent>
        <q-card>
        <q-card-section class="row items-center">
            <q-avatar icon="delete_forever" color="red" text-color="white" />
            <span class="q-ml-sm">Deseja realmente desativar <b>{{modeloDesativar}}</b> Placa:<b>{{placaDesativar}}</b></span>
        </q-card-section>

        <q-card-actions align="right">
            <q-btn flat label="Não" color="primary" v-close-popup />
            <q-btn flat label="Sim" color="primary" v-close-popup @click="desativar(codigoDesativar)"/>
        </q-card-actions>
        </q-card>
    </q-dialog>
    <q-input v-model="busca" type="text" label="Buscar Veículos">
        <q-icon name="search" size="md" /> 
    </q-input>
    <q-table
        title="Lista de Veículos"
        :data="dados"
        :columns="colunas"
        :filter="busca"
        row-key="placa"
        virtual-scroll
        :pagination.sync="pagination"
        :rows-per-page-options="[0]"
        :key="key"
    >
        <template slot="body" slot-scope="props">   
            <q-tr>
                <q-td key="placa" auto-width>
                    {{props.row.placa}}
                </q-td>
                <q-td key="modelo" auto-width>
                    {{props.row.modelo}}
                </q-td>
                <q-td key="cor" auto-width>
                    {{props.row.cor}}
                </q-td>
                <q-td  key="acoes" auto-width>
                    <div>
                        <Acoes 
                        @editar="editar(props.row.codveiculo)" 
                        @desativar="confirmaDesativar(props.row.codveiculo, props.row.placa, props.row.modelo)"
                        @visualizar="visualizar(props.row.codveiculo)" />
                    </div>     
                </q-td>
            </q-tr>
        </template>
    </q-table>
  </div>
</template>

<script>
import {get} from '../components/Conexao'
import {put} from '../components/Conexao'
import Acoes from '@/components/Acoes'
import ModalVeiculo from '@/components/ModalVeiculo'
export default {
    components:{
        Acoes,
        ModalVeiculo
    },   
    data(){
        return{     
            pagination: {
                sortBy: 'placa',
                descending: false,                
                rowsPerPage: 30
            },         
            colunas: [ 
                {
                    // unique id
                    // identifies column
                    // (used by pagination.sortBy, "body-cell-[name]" slot, ...)
                    id: 'placa',

                    // label for header
                    label: 'Placa',

                    // row Object property to determine value for this column
                    field: 'placa',
                    // OR field: row => row.some.nested.prop

                    // (optional) if we use visible-columns, this col will always be visible
                    required: true,

                    // (optional) alignment
                    align: 'center',

                    // (optional) tell QTable you want this column sortable
                    sortable: true,
                },
                { name: 'modelo', label: 'Modelo', field: 'modelo', sortable: true, align: "center" },
                { name: 'cor', label: 'Cor', field: 'cor', sortable: true, align: "center" },
                { name: 'acoes', label: 'Ações', field: 'acoes', sortable: false, align: "center"}
            ],
        dados:[],
        busca:'',
        key:0,
        codigo: 0,
        readonly: false,
        mostrar: false,
        modeloDesativar: '',
        placaDesativar: '',
        desativa: false,
        codigoDesativar: 0,
        confirmacao: false,        
        }
    },
    methods:{
        carregaVeiculos(){
            get("veiculo").then((result) => {
                this.dados = JSON.parse(result)
            }).catch((err) => {
                console.log(err);
            });
        },
        close(){
            this.mostrar=false
            this.readonly=false
            this.codigo = NaN
            this.carregaVeiculos()            
        },
        confirmaDesativar(cod, placa, modelo){
                this.modeloDesativar = modelo
                this.placaDesativar = placa
                this.codigoDesativar = cod
                this.desativa = true
        },
        visualizar(cod){
            this.codigo = cod
            this.readonly = true
            this.mostrar = true
        },  
        desativar(cod){
            var pacote = {"codveiculo" : cod, "ativo" : false}             
            put("veiculo/desativa", pacote).then(console.log ('Veículo Desativado com Sucesso!'))           
            this.carregaVeiculos()
            this.key++
            this.confirmacao = true
        },
        editar(cod){
            this.codigo = cod
            this.mostrar = true
            this.readonly = false
        },

    },
        created: function(){
            this.carregaVeiculos()
        },
        

}
</script>

<style scoped>
    .q-input{
        width: 250px;
        align-self: center;
    }
    .painel{
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    .q-btn{
        align-self: flex-end;
    }
    .q-table{
        width: 100%;
    }
    .q-table th{
        position: sticky;
        text-align: center;
    }
    .q-table tr{        
        text-align: center;
    }

</style>