<template>
  <div class="painel">      
    <ModalPessoa :readonly="readonly" :codpessoa="codigo" v-if="mostrar" @close="close" @ok="close"/>
    <q-dialog v-model="confirmacao">
        <q-card>
            <q-card-section>
               <b> Pessoa desativada com sucesso! </b>
            </q-card-section>
        </q-card>
    </q-dialog>
    <q-dialog v-model="desativa" persistent>
        <q-card>
        <q-card-section class="row items-center">
            <q-avatar icon="delete_forever" color="red" text-color="white" />
            <span class="q-ml-sm">Deseja realmente desativar <b>{{nomeDesativar}}</b></span>
        </q-card-section>

        <q-card-actions align="right">
            <q-btn flat label="Não" color="primary" v-close-popup />
            <q-btn flat label="Sim" color="primary" v-close-popup @click="desativar(codigoDesativar)"/>
        </q-card-actions>
        </q-card>
    </q-dialog>
    <q-input v-model="busca" type="text" label="Buscar Pessoas">
        <q-icon name="search" size="md" />
    </q-input>      
    <q-table               
    title="Lista de Pessoas"
    :data="dados"
    :columns="colunas"
    :visible-columns="colunasVisiveis"
    :filter="busca"        
    row-key="nome"       
    :pagination.sync="pagination"
    :rows-per-page-options="[0]"
    separator="horizontal"
    no-results-label="A pesquisa não encontrou nenhum resultado correspondente"
    :key="key"   
    >
      
        <template slot="body" slot-scope="props">         
            <q-tr :props="props" >
                <q-td key="foto" :props="props" auto-width>
                    <q-avatar square> <img :src="carregaFoto(props.row.foto)"> </q-avatar>
                </q-td> 
                <q-td  key="nome" auto-width>{{props.row.nome}}</q-td> 
                <q-td  key="apartamento" auto-width>
                    <div v-for="apto in props.row.pessoaxapartamento" :key="apto.id">{{apto.apartamento.numero}} - {{apto.apartamento.bloco}}  </div>
                </q-td>
                <!-- BUSCAR APENAS ATIVOS -->
                <q-td key="veiculo" auto-width>
                    <div v-for="carro in props.row.pessoaxveiculo" :key="carro.id">{{carro.veiculo.placa}}</div> 
                </q-td>                
                <q-td  key="acesso" auto-width>
                    <div>{{props.row.tipo}}</div> 
                </q-td>
                <q-td  key="contato" auto-width>
                    <div >{{ props.row["contato"]}}</div>               
                </q-td>
                <q-td  key="acoes" auto-width>
                    <div>
                       <Acoes 
                       @editar="editar(props.row.codpessoa)" 
                       @desativar="confirmaDesativar(props.row.codpessoa, props.row.nome)"
                       @visualizar="visualizar(props.row.codpessoa)" />
                    </div>     
                </q-td>                               
            </q-tr>          
        </template>  
          
      </q-table>
  </div>
</template>

<script>
import {get} from '../components/Conexao'
import {put} from '../components/Conexao'
import Acoes from '@/components/Acoes'
import ModalPessoa from '@/components/ModalPessoa'


export default { 
    components:{
        Acoes,
        ModalPessoa       
    },   
    data(){
        return{   
            pagination: {
                sortBy: 'nome',
                descending: false,
                //page: 2,
                rowsPerPage: 30
                // rowsNumber: xx if getting data from a server
            },        
            colunas: [ 
                { name: 'foto', label: 'Foto', field: 'foto', sortable: false, align: "center" },
                {   // unique id
                    // identifies column
                    // (used by pagination.sortBy, "body-cell-[name]" slot, ...)
                    name: 'nome',

                    // label for header
                    label: 'Nome',

                    // row Object property to determine value for this column
                    field: 'nome',
                    // OR field: row => row.some.nested.prop

                    // (optional) if we use visible-columns, this col will always be visible
                    required: true,

                    // (optional) alignment
                    align: 'center',

                    // (optional) tell QTable you want this column sortable
                    sortable: true,                   
                },
                //Essa coluna precisa ser definida com for para habilitar a busca da forma correta
                { name: 'aptos', label: 'Apt - Bloco',
                  field: row => {for(var apartamento of row.pessoaxapartamento){
                       return (apartamento.apartamento.numero + "-" + apartamento.apartamento.bloco)}},
                  sortable: true, align: "center" },
                //Essa coluna precisa ser definida com for para habilitar a busca da forma correta
                { name: 'veiculo', label: 'Placa', 
                  field: row => {for(var veiculo of row.pessoaxveiculo){
                       return veiculo.veiculo.placa}},
                  sortable: true, 
                  align: "center"},
                { name: 'tipo', label: 'Tipo de Acesso', field: 'tipo', sortable: true, align: "center" },
                { name: 'contato', label: 'Contato', field: 'contato', sortable: false, align: "center" },          
                { name: 'acoes', label: 'Ações', field: 'acoes', sortable: false, align: "center" }                 
            ],
        
        dados:[],
        colunasVisiveis:['foto','aptos','veiculo','tipo','contato', 'acoes'],
        busca:'',
        mostrar: false,
        codigo: NaN,
        key: 0,
        nomeDesativar: '',
        desativa: false,
        codigoDesativar: 0,
        confirmacao: false
        }
        
    },
    computed:{
         
    },
    methods:{       
        carregaPessoas(){
            get("pessoaprop").then((result) => {
                this.dados = JSON.parse(result)
            }).catch((err) => {
                this.erro=err;
            });
        },
        carregaFoto(nome){
            return '..\\..\\img\\' + nome
        },
        editar(cod){
            this.codigo = cod
            this.mostrar = true
            this.readonly = false
        },
        confirmaDesativar(cod, nome){
            this.nomeDesativar = nome
            this.codigoDesativar = cod
            this.desativa = true
        },
        desativar(cod){
            var pacote = {"codpessoa" : cod, "ativo" : false}             
            put("pessoa/desativa", pacote).then(console.log ('Pessoa Desativada com Sucesso!'))           
            this.carregaPessoas()
            this.key++
            this.confirmacao = true
        },
        visualizar(cod){
            this.codigo = cod
            this.readonly = true
            this.mostrar = true
        },      
        close(){
            this.mostrar=false
            this.readonly=false
            this.codigo = NaN
            this.carregaPessoas()            
        }
    },
    created: function(){
        this.carregaPessoas()       
    },

}
</script>

<style scoped>
    .q-input{
        width: 250px;
        align-self: center;
    }
    .painel{
        padding: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .q-btn{
        align-self: flex-end;
    }
    .q-table{
        width: 100%;
    }
    .q-table th{
        position: sticky;
        text-align: center;
    }
    .q-table tr{        
        text-align: center;
    }

</style>