<template>
  <div class="painel">
    <ModalApartamento :readonly="readonly" :codAp="codigo" v-if="mostrar" @close="close" @ok="close"/>
    <q-dialog v-model="confirmacao">
        <q-card>
            <q-card-section>
               <b> Apartamento desativado com sucesso! </b>
            </q-card-section>
        </q-card>
    </q-dialog>
    <q-dialog v-model="desativa" persistent>
        <q-card>
        <q-card-section class="row items-center">
            <q-avatar icon="delete_forever" color="red" text-color="white" />
            <span class="q-ml-sm">Deseja realmente desativar <b>{{numeroDesativar}}</b> do Bloco:<b>{{blocoDesativar}}</b></span>
        </q-card-section>

        <q-card-actions align="right">
            <q-btn flat label="Não" color="primary" v-close-popup />
            <q-btn flat label="Sim" color="primary" v-close-popup @click="desativar(codigoDesativar)"/>
        </q-card-actions>
        </q-card>
    </q-dialog>
    <q-input v-model="busca" type="text" label="Buscar Apartamentos">
        <q-icon name="search" size="md" /> 
    </q-input>
    <q-table
        title="Lista de Apartamentos"
        :data="dados"
        :columns="colunas"
        :filter="busca"
        row-key="id"
        virtual-scroll
        :pagination.sync="pagination"
        :rows-per-page-options="[0]"
        :key="key"
    >
    <template slot="body" slot-scope="props">   
            <q-tr>
                <q-td key="numero" auto-width>
                    {{props.row.numero}}
                </q-td>
                <q-td key="bloco" auto-width>
                    {{props.row.bloco}}
                </q-td>
                <q-td  key="acoes" auto-width>
                    <div>
                        <Acoes 
                        @editar="editar(props.row.codap)" 
                        @desativar="confirmaDesativar(props.row.codap, props.row.numero, props.row.bloco)"
                        @visualizar="visualizar(props.row.codap)" />
                    </div>     
                </q-td>
            </q-tr>
        </template>
    </q-table>
  </div>
</template>

<script>
import {get} from '../components/Conexao'
import {put} from '../components/Conexao'
import Acoes from '../components/Acoes'
import ModalApartamento from '../components/ModalApartamento'

export default {
    components:{
        Acoes,
        ModalApartamento
    },
    data(){
        return{            
            pagination: {
                sortBy: 'Bloco',
                rowsPerPage: 30
            },
            colunas: [ 
                {
                    // unique id
                    // identifies column
                    // (used by pagination.sortBy, "body-cell-[name]" slot, ...)
                    id: 'numero',

                    // label for header
                    label: 'Numero',

                    // row Object property to determine value for this column
                    field: 'numero',
                    // OR field: row => row.some.nested.prop

                    // (optional) if we use visible-columns, this col will always be visible
                    required: true,

                    // (optional) alignment
                    align: 'center',

                    // (optional) tell QTable you want this column sortable
                    sortable: true,

                },
                { name: 'bloco', label: 'Bloco', field: 'bloco', sortable: true, align: "center" },
                { name: 'acoes', label: 'Ações', field: 'acoes', sortable: false, align: "center" }
            ],
        dados:[],
        busca:'',
        readonly: false,
        mostrar: false,
        numeroDesativar: '',
        blocoDesativar: '',
        desativa: false,
        codigoDesativar: 0,
        confirmacao: false,
        key: 0,
        }
    },
    methods:{
        carregaApartamentos(){
            get("apartamento").then((result) => {
                this.dados = JSON.parse(result)
            }).catch((err) => {
                console.log(err);
            });
        },
        close(){
            this.mostrar=false
            this.readonly=false
            this.codigo = NaN
            this.carregaApartamentos()
            this.key++            
        },
        confirmaDesativar(cod, numero, bloco){
            this.numeroDesativar = numero
            this.blocoDesativar = bloco
            this.codigoDesativar = cod
            this.desativa = true
        },
        visualizar(cod){
            this.codigo = cod
            this.readonly = true
            this.mostrar = true
        },  
        desativar(cod){
            var pacote = {"codap" : cod, "ativo" : false}             
            put("apartamento/desativa", pacote).then((result) => {
                (console.log (result))   
            }).catch((err) => {
                console.log(err)
            });             
            this.carregaApartamentos()
            this.key++
            this.confirmacao = true
        },
        editar(cod){
            this.codigo = cod
            this.mostrar = true
            this.readonly = false
        },
    },
    created: function(){
        this.carregaApartamentos()
    },

}
</script>

<style scoped>
    .q-input{
        width: 250px;
        align-self: center;
    }
    .painel{
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    .q-btn{
        align-self: flex-end;
    }
    .busca{        
        padding: 10px;
        margin-left: 30px;  
        flex-direction: row;   
    }
    .q-table th{
        position: sticky;
        text-align: center;
    }
    .q-table tr{        
        text-align: center;
    }
</style>